@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
  margin: 0;;
  padding: 0;;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}
.header {
  margin-top: 30px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
}
.header .logo {
  width: 175px;
  margin-bottom: 25px;

}
.header .logo img {
  width: 100%;
}
.nav-items {
  display: flex;
}
.nav-items li {
  list-style-type: none;
  width: 95px;
  text-align: center;
  margin: 0 10px;
  padding: 8px 0px;
  border-radius: 30px;
  transition: all 0.2s;
  cursor: pointer;
}
.nav-items li:first-child {
  background-color: #296575;
}
.nav-items li:first-child:hover {
  background-color: #0a4d5f;
}
.nav-items li:last-child {
  background-color: #E6821B;
}
.nav-items li:last-child:hover {
  background-color: #914b06;
}
.nav-items li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
.content-container {
  width: 85%;
  margin: 30px auto;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 42px;
}
.card {
  background-color: #fff;
  padding: 18px 26px;
  border-radius: 18px;
}
.card-title {
  margin: 8px 0;
  font-size: 20px;
}
.card-excerpt {
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-author, 
.card-date {
  color: #e6821b;
  font-size: 14px;
}
.card-date {
  margin-left: 32px;
}


.card .card-category {
  background-color: #296575;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
}
.cards .card-category::before, 
.cards .card-date::before, 
.cards .card-author::before {
  font-family: "Font Awesome 5 Free";
  padding-right: 6px;
}
.cards .card-category::before {
  content: "\f02b";
  font-weight: 600;
}
.cards .card-author::before {
  content: "\f2bd";
  font-weight: 600;
}
.cards .card-date::before {
  content: "\f073";
}
.new-post-btn::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  font-weight: 600;
  position: absolute;
  top: -36px;
  left: 30%;
  background-color: #296575;
  font-size: 28px;
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.new-post-btn {
  border: 0;
  padding: 6px 8px;
  color: #296575;
  font-weight: 800;
  font-size: 16px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  background-color: transparent;
}
#add-note-form {
  width: 92%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #dedede;
  padding: 35px 30px;
}
#add-note-form label {
  display: none;
}

.post-title, .post-excerpt, .post-category {
  border: 0;
  width: 100%;
  padding: 10px;
  margin: 3px 0px;
}
.post-title, .post-category {
  height: 40px;
}
input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: none;
}
.post-btn, .cancel-btn {
  background-color: #e6821b;
    border: navajowhite;
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    width: 25%;
    margin: 10px 0;
}
.bg-overlay {
  background-color: rgb(0 0 0 / 70%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.bg-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: blur(12px);
  -webkit-filter: blur(12px);
}
.text-container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 50px 20px;
  text-align: center;
}
.text-container h2 {
  margin-bottom: 30px;
}
.login-signup-btns a {
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 6px;
  font-weight: 600;
  display: inline-block;
  width: 95px;
  margin: 0 10px;
  border: 2px solid #fff;
}
.login-signup-btns a:last-child {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
/* Media Query */
@media screen and (min-width: 700px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .header .container {
    flex-direction: row;
  }
  .header .logo {
    margin-bottom: 0;
  }
  #add-note-form {
    width: 35%;
  }
}
@media screen and (min-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}